certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
dataclasses==0.6
-e git+https://github.com/trieut415/Dump-Truck-Detect.git@35f9ca926e72cf8b9dc54bdf94092c42c68d0b78#egg=dumptruck_detector
filelock==3.18.0
fonttools==4.58.4
fsspec==2025.5.1
future==1.0.0
idna==3.10
iso8601==2.1.0
Jinja2==3.1.6
kiwisolver==1.4.8
lap==0.5.12
logging==0.4.9.6
MarkupSafe==3.0.2
matplotlib==3.10.3
mpmath==1.3.0
networkx==3.5
numpy==2.3.1
opencv-python==4.11.0.86
packaging==25.0
pandas==2.3.0
pillow==11.2.1
psutil==7.0.0
py-cpuinfo==9.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
scipy==1.16.0
setuptools==80.9.0
six==1.17.0
sympy==1.14.0
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
ultralytics==8.3.160
ultralytics-thop==2.0.14
urllib3==2.5.0
yt-dlp==2025.6.25
